<h1>Login</h1>
<form action="/auth/login" method="POST">
  <input placeholder="email" type="email" name="email" />
  <input placeholder="password" type="password" name="password" />
  <button type="submit">submit</button>
</form>